<ng-container *ngIf="{ isSubmitting: isSubmitting$ | async } as obses">
  <h1 mat-dialog-title>Create task</h1>
  <div mat-dialog-content>
    <form
      class="update-task-form"
      [formGroup]="updateTaskForm"
      (submit)="submit()"
    >
      <fieldset [disabled]="obses.isSubmitting">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Name"
            type="text"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input
            matInput
            formControlName="date"
            [matDatepicker]="datePicker"
            [disabled]="true"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datePicker
            [disabled]="obses.isSubmitting || false"
          ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </fieldset>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="accent"
      [disabled]="obses.isSubmitting"
      (click)="submit()"
    >
      <ng-container
        *ngTemplateOutlet="!obses.isSubmitting ? regularTmpl : submittingTmpl"
      ></ng-container>

      <ng-template #regularTmpl>Submit</ng-template>

      <ng-template #submittingTmpl>
        <mat-spinner
          style="margin: 10px 10px;"
          [diameter]="18"
          [color]="'warn'"
        ></mat-spinner>
      </ng-template>
    </button>
  </div>
</ng-container>
