// Define a theme.
$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink, A200, A100, A400);

$indigo-pink-theme: mat-light-theme(
  (
    color: (
      primary: $indigo-pink-primary,
      accent: $indigo-pink-accent,
    ),
  )
);
