<button mat-icon-button [matMenuTriggerFor]="themePickerMenu">
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #themePickerMenu="matMenu">
  <button
    *ngFor="let availableTheme of availableThemes"
    class="available-theme"
    mat-menu-item
    (click)="availableClick(availableTheme)"
  >
    <mat-icon *ngIf="availableTheme.selected" color="accent"
      >radio_button_checked
    </mat-icon>
    <mat-icon *ngIf="!availableTheme.selected"
      >radio_button_unchecked
    </mat-icon>

    {{ availableTheme.displayName }}
  </button>
</mat-menu>
